<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggirick.gardening_back.mappers.board.BoardMapper">

    <!-- 커서 기반 페이징 -->
    <select id="getListByCursor" resultType="com.ggirick.gardening_back.dto.board.BoardResponseDTO">
        SELECT
        b.*,

        -- 댓글 개수
        (SELECT COUNT(*)
        FROM BOARD_COMMENT c
        WHERE c.BOARD_ID = b.ID) AS commentCount,

        -- 내가 좋아요 눌렀는지 여부
        CASE
        WHEN EXISTS (
        SELECT 1
        FROM BOARD_LIKE l
        WHERE l.BOARD_ID = b.ID
        AND l.USER_UID = #{userUid}
        )
        THEN 1 ELSE 0
        END AS isLiked

        FROM (
        SELECT b.*
        FROM BOARD b
        <where>
            <if test="cursorId != null">
                AND b.ID &lt; #{cursorId}
            </if>
        </where>
        ORDER BY b.ID DESC
        )
        WHERE ROWNUM &lt;= #{limit}
    </select>

    <!-- 상세 조회 -->
    <select id="getDetailById" resultType="com.ggirick.gardening_back.dto.board.BoardResponseDTO">
        SELECT *
        FROM BOARD
        WHERE ID = #{id}
    </select>

    <!-- 공지사항 -->
    <select id="getNotificationList" resultType="com.ggirick.gardening_back.dto.board.BoardResponseDTO">
        SELECT *
        FROM BOARD
        WHERE IS_NOTIFICATION = 'Y'
        ORDER BY ID DESC
    </select>

    <!-- 게시글 등록 -->
    <!-- 파일 등록을 위한 selectKey -->
    <insert id="insert">
        INSERT INTO board(id, title, writer_uid, contents, is_notification)
        VALUES (
        board_seq.nextval, #{title}, #{writerUid}, #{contents}, #{isNotification}
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select board_seq.currval from dual
        </selectKey>
    </insert>

    <!-- 수정 -->
    <update id="update" parameterType="com.ggirick.gardening_back.dto.board.BoardDTO">
        UPDATE BOARD
        SET TITLE           = #{title},
            CONTENT         = #{content},
            IS_NOTIFICATION = #{isNotification}
        WHERE ID = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE
        FROM BOARD
        WHERE ID = #{id}
    </delete>

    <!-- 조회수 증가 -->
    <update id="increaseViewCount">
        UPDATE BOARD
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE ID = #{id}
    </update>
</mapper>