<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggirick.gardening_back.mappers.plant.PlantMapper">
    <resultMap id="PlantInfoMap" type="com.ggirick.gardening_back.dto.plant.PlantInfoDTO">
        <result property="scientificName" column="scientificName"/>
        <result property="commonName" column="commonName"/>
        <result property="family" column="family"/>
        <result property="genus" column="genus"/>
        <result property="origin" column="origin"/>
        <result property="environment" column="environment"/>
        <result property="light" column="light"/>
        <result property="temperatureHumidity" column="temperatureHumidity"/>
        <result property="watering" column="watering"/>
        <result property="soil" column="soil"/>
        <result property="fertilizer" column="fertilizer"/>
        <result property="potRepot" column="potRepot"/>
        <result property="propagation" column="propagation"/>
        <result property="pestsTips" column="pestsTips"/>
        <result property="commonUses" column="commonUses"/>
        <result property="culturalSignificance" column="culturalSignificance"/>
        <result property="description" column="description"/>
        <result property="sampleImageUrl" column="sampleImageUrl"/>

        <!-- tags 컬렉션 매핑 -->
        <collection property="tags" ofType="com.ggirick.gardening_back.dto.tag.PlantTagDTO"
                    column="scientificName" select="com.ggirick.gardening_back.mappers.tag.PlantTagMapper.getTagsByScientificNameLike"/>
    </resultMap>
    <select id="getAllPlantInfo" resultMap="PlantInfoMap">
        SELECT
            COMMON_NAME       AS commonName,
            COMMON_USES       AS commonUses,
            CULTURAL_SIGNIFICANCE AS culturalSignificance,
            DESCRIPTION       AS description,
            ENVIRONMENT       AS environment,
            FAMILY            AS family,
            FERTILIZER        AS fertilizer,
            GENUS             AS genus,
            LIGHT             AS light,
            ORIGIN            AS origin,
            PESTS_TIPS        AS pestsTips,
            POT_REPOT         AS potRepot,
            PROPAGATION       AS propagation,
            SAMPLE_IMAGE_URL  AS sampleImageUrl,
            SCIENTIFIC_NAME   AS scientificName,
            SOIL              AS soil,
            TEMPERATURE_HUMIDITY AS temperatureHumidity,
            WATERING          AS watering
        FROM PLANT_INFO
        WHERE SAMPLE_IMAGE_URL IS NOT NULL
        ORDER BY COMMON_NAME
    </select>
    <select id="getAllPlantInfoScientificName">
        SELECT
            COMMON_NAME      AS commonName,
            SAMPLE_IMAGE_URL AS sampleImageUrl,
            SCIENTIFIC_NAME  AS scientificName
        FROM PLANT_INFO
        WHERE SAMPLE_IMAGE_URL IS NOT NULL
        order by COMMON_NAME
    </select>

    <update id="updatePlantSampleImage">
        update PLANT_INFO
        set SAMPLE_IMAGE_URL = #{sampleImageUrl}
        where SCIENTIFIC_NAME = #{scientificName}
    </update>
    <select id="getPlantInfo">
        SELECT
            SCIENTIFIC_NAME      AS scientificName,
            COMMON_NAME          AS commonName,
            FAMILY               AS family,
            GENUS                AS genus,
            ORIGIN               AS origin,
            ENVIRONMENT          AS environment,
            LIGHT                AS light,
            TEMPERATURE_HUMIDITY AS temperatureHumidity,
            WATERING             AS watering,
            SOIL                 AS soil,
            FERTILIZER           AS fertilizer,
            POT_REPOT            AS potRepot,
            PROPAGATION          AS propagation,
            PESTS_TIPS           AS pestsTips,
            DESCRIPTION          AS description,
            COMMON_USES          AS commonUses,
            SAMPLE_IMAGE_URL     AS sampleImageUrl,
            CULTURAL_SIGNIFICANCE AS culturalSignificance

        FROM PLANT_INFO
        WHERE SCIENTIFIC_NAME = #{scientificName}
    </select>

    <insert id="insertPlantInfo" >
        INSERT INTO PLANT_INFO (
            COMMON_NAME, SCIENTIFIC_NAME, FAMILY, GENUS,
            LIGHT, WATERING, SOIL, ENVIRONMENT, ORIGIN,
            FERTILIZER, PESTS_TIPS, POT_REPOT, PROPAGATION, TEMPERATURE_HUMIDITY,
            COMMON_USES, CULTURAL_SIGNIFICANCE, DESCRIPTION,  SAMPLE_IMAGE_URL
        ) VALUES (
                     #{commonName, jdbcType=VARCHAR},
                     #{scientificName, jdbcType=VARCHAR},
                     #{family, jdbcType=VARCHAR},
                     #{genus, jdbcType=VARCHAR},

                     #{light, jdbcType=VARCHAR},
                     #{watering, jdbcType=VARCHAR},
                     #{soil, jdbcType=VARCHAR},
                     #{environment, jdbcType=VARCHAR},

                     #{origin, jdbcType=VARCHAR},
                     #{fertilizer, jdbcType=VARCHAR},
                     #{pestsTips, jdbcType=VARCHAR},
                     #{potRepot, jdbcType=VARCHAR},
                     #{propagation, jdbcType=VARCHAR},
                     #{temperatureHumidity, jdbcType=VARCHAR},

                     #{commonUses, jdbcType=VARCHAR},
                     #{culturalSignificance, jdbcType=VARCHAR},
                     #{description, jdbcType=VARCHAR},
                     #{sampleImageUrl, jdbcType=VARCHAR}
                 )
    </insert>
    <insert id="insertPlantInfoRequestFile">
        INSERT INTO PLANT_INFO_REQUEST_FILE(
                                            ID,
                                            REQUEST_USER_UID,
                                            url,
                                            ORI_NAME,
                                            SYS_NAME,
                                            CREATED_AT
        )VALUES (
                 PLANT_INFO_REQUEST_FILE_SEQ.nextval,
                 #{ requestUserUid},
                 #{url},
                 #{oriName},
                 #{sysName},
                 SYSTIMESTAMP
                        )
    </insert>
    <insert id="insertPlantSearchRequestLog"  keyProperty="logId">
        <!-- 시퀀스 NEXTVAL을 DTO.logId에 세팅 -->
        <selectKey keyProperty="logId" resultType="long" order="BEFORE">
            SELECT PLANT_SEARCH_REQUEST_LOG_SEQ.nextval FROM dual
        </selectKey>

        INSERT INTO PLANT_SEARCH_REQUEST_LOG(
        log_id,
        api_response,
        matched_scientific_name,
        user_uid,
        created_at
        ) VALUES (
        #{logId},
        #{apiResponse, jdbcType=CLOB},
        #{matchedScientificName},
        #{userUid},
        SYSTIMESTAMP
        )
    </insert>


    <insert id="insertPlantSearchRequestFile">
        INSERT INTO PLANT_SEARCH_REQUEST_FILE(
            ID,
            url,
            ORI_NAME,
            SYS_NAME,
            LOG_ID,
            CREATED_AT
        )VALUES (
                    PLANT_SEARCH_REQUEST_FILE_SEQ.nextval,
                    #{url},
                    #{oriName},
                    #{sysName},
                    #{logId},
                    SYSTIMESTAMP
                )
    </insert>
    <select id="randomSearchRequestFile">
        SELECT *
        FROM (
        SELECT url
        FROM PLANT_SEARCH_REQUEST_FILE
        ORDER BY DBMS_RANDOM.VALUE
        )
        WHERE ROWNUM &lt;= 10

    </select>
</mapper>